html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  transform: translate(13em, 0);
  position: absolute;
  transition: all 1s ease;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  transform: translate(4.5em, -1.5em);
}

.polaroid:nth-child(1) {
  transform: translate(10em, 6em) rotate(-14deg);
  z-index: 30;
}

.polaroid:nth-child(2) {
  transform: translate(16em, 9em) rotate(6deg);
  z-index: 100;
}

.polaroid:nth-child(3) {
  transform: translate(22em, 6em) rotate(25deg);
  z-index: 50;
}

/* ------------------HOVER---------------- */

.polaroid:hover {
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .9);
}

.polaroid:nth-child(1):hover {
  transform: rotate(0) translate(10em, 6em);
  z-index: 1000;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0) translate(16em, 9em);
  z-index: 1000;
}

.polaroid:nth-child(3):hover {
  transform: rotate(0) translate(22em, 6em);
  z-index: 1000;
}
